import(stringr)
importFrom(tools,checkRd)
S3method(print,rd_command)
S3method(format,rd_command)
S3method(merge,rd_command)
S3method(format,keyword_command)
S3method(format,name_command)
S3method(format,author_command)
S3method(format,family_command)
S3method(format,arguments_command)
S3method(format,slot_command)
S3method(format,section_command)
S3method(format,examples_command)
