S3method(default_export,"function")
S3method(default_export,MethodDefinition)
S3method(default_export,classRepresentation)
S3method(default_export,s3generic)
S3method(default_export,s3method)
S3method(doctype,MethodDefinition)
S3method(doctype,classRepresentation)
S3method(doctype,data.frame)
S3method(doctype,default)
S3method(doctype,roccer)
S3method(doctype,s3method)
S3method(format,alias_command)
S3method(format,arguments_command)
S3method(format,author_command)
S3method(format,comment_command)
S3method(format,concept_command)
S3method(format,description_command)
S3method(format,details_command)
S3method(format,docType_command)
S3method(format,encoding_command)
S3method(format,examples_command)
S3method(format,family_command)
S3method(format,formals_command)
S3method(format,format_command)
S3method(format,inheritParams_command)
S3method(format,keyword_command)
S3method(format,name_command)
S3method(format,note_command)
S3method(format,rd_command)
S3method(format,references_command)
S3method(format,section_command)
S3method(format,seealso_command)
S3method(format,slot_command)
S3method(format,source_command)
S3method(format,title_command)
S3method(format,usage_command)
S3method(format,value_command)
S3method(merge,rd_command)
S3method(print,rd_command)
S3method(print,usage)
S3method(usage,"NULL")
S3method(usage,"function")
S3method(usage,MethodDefinition)
S3method(usage,data.frame)
S3method(usage,default)
S3method(usage,roccer)
S3method(usage,s3generic)
S3method(usage,s3method)
export(default_export)
export(doctype)
export(namespace_out)
export(parse_directory)
export(parse_file)
export(rd_out)
export(usage)
import(igraph)
import(stringr)
importFrom(codetools,findGlobals)
importFrom(devtools,as.package)
importFrom(devtools,check_doc)
importFrom(devtools,in_dir)
importFrom(devtools,load_all)
importFrom(devtools,ns_env)
importFrom(devtools,with_collate)
importFrom(digest,digest)
importFrom(stringr,str_split)
importFrom(tools,checkRd)
