export(RoxyBlock)
export(find_tags)
export(format.alias_command)
export(format.arguments_command)
export(format.author_command)
export(format.comment_command)
export(format.concept_command)
export(format.description_command)
export(format.details_command)
export(format.docType_command)
export(format.encoding_command)
export(format.examples_command)
export(format.family_command)
export(format.formals_command)
export(format.format_command)
export(format.inheritParams_command)
export(format.keyword_command)
export(format.name_command)
export(format.note_command)
export(format.rd_command)
export(format.references_command)
export(format.section_command)
export(format.seealso_command)
export(format.slot_command)
export(format.source_command)
export(format.title_command)
export(format.usage_command)
export(format.value_command)
export(is_s3_generic)
export(merge.rd_command)
export(object_from_call)
export(parse_block)
export(parse_directory)
export(parse_file)
export(print.rd_command)
export(roxygenise)
exportMethods(writeNamespace)
exportMethods(writeRd)
import(memoise)
importFrom(codetools,findGlobals)
importFrom(devtools,as.package)
importFrom(devtools,check_doc)
importFrom(devtools,in_dir)
importFrom(devtools,load_all)
importFrom(devtools,ns_env)
importFrom(devtools,unload)
importFrom(digest,digest)
importFrom(igraph,"V<-")
importFrom(igraph,V)
importFrom(igraph,graph.data.frame)
importFrom(igraph,topological.sort)
importFrom(methods,getClass)
importFrom(methods,getGeneric)
importFrom(methods,getMethod)
importFrom(methods,getRefClass)
importFrom(methods,new)
importFrom(methods,selectMethod)
importFrom(stringr,fixed)
importFrom(stringr,perl)
importFrom(stringr,str_c)
importFrom(stringr,str_detect)
importFrom(stringr,str_length)
importFrom(stringr,str_replace)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_split)
importFrom(stringr,str_split_fixed)
importFrom(stringr,str_trim)
importFrom(stringr,str_wrap)
importFrom(tools,checkRd)
